/* Elements */
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Oswald', sans-serif;
  box-sizing: border-box;
}
main a {
  color: white;
}
header {
  background-color: #333333;
}

.project-block figcaption {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
}

footer {
  background-color: black;
}
main p {
  font-size: 1.2em;
  color: #5e5e5e;
  background-color: #f5f6f7;
  display: block;
  /* Keeps text centered */
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
main h1 {
  text-align: center;
  color: #1a1a1a;
  background-color: #f5f6f7;
  margin-top: 10px;
  margin-bottom: 10px;
  /* Keeps text centered */
  margin-left: auto;
  margin-right: auto;
  width: 50%;  
}
i {
  color: white;
  font-size: 30px;
  margin: 10px;
}
  /* css for download button */
  .downBtn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 6px 15px;
    cursor: pointer;
    font-size: 20px;
  }

  /* Darker background on mouse-over */
  .downBtn:hover {
    background-color: RoyalBlue;
  }
/* Code for navigation bar in desktop */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: right;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
} 
/* The navigation bar for mobile disappears when screen is larger than 768px */
.disappear-mobile {
  display: none;
}
/* Main */
#self-photo {
  /* margin-top: 15px;
  margin-bottom: 15px;
  width: 250px;
  border: black solid 4px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 15%;
  border: black solid 4px;
}
.logos-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.logos {
  display: flex;
  flex-wrap: wrap;
}
.logo {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin: 10px;
}
  /* Logos for programming languages need to smaller */
  .logo img {
    width: 95px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 10px;
  }
.logos p {
  text-align: center;
}
  /* Project block, it controls how projects are shown */
  /* portfolio block, the div around the "portfolio" + <figcaption> */
  .portfolio-block {
    word-wrap: break-word;
    display: flex;
    }
    /* The seperate products */
    .project-block {
    width: 100%;
    text-align: center;
    background-color: #333333;
    word-wrap: break-word;
    border-right: 0.5px solid white;
    }
    
    .project-block figcaption {
      color: white;
    }
    
    /* Note:When using percentages, elements take size based size of div.
    Example .img-project's width is 25% the width of .project-block */
    .img-project {
      width: 100%;
      height: 50%;
  }
  .logos-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.logos {
  display: flex;
  flex-wrap: wrap;
}
.logo {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin: 10px;
}
  /* Logos for programming languages need to smaller */
  .logo img {
    width: 95px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 10px;
  }
/* Icon for contact (LinkedIn, Email and Github) */
.icons-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 206px;
}
.icons {
  display: flex;
  flex-wrap: wrap;
}
.icon {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

/* Makes the PC's version disappear */
.portfolio-block-mobile {
  display: none;
  }


/* Code for navigation bar in mobile */
@media (min-width: 320px) and (max-width: 768px) {
  
  .dropbtn {
    background-color: #333333;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-size: 30px;
  }
  .dropdown-content a {
    display: none;
  }

  .dropbtn:hover, .dropbtn:focus {
    background-color: #111111;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown a:hover {background-color: #ddd;}

  .show {display: block;}
  /* Other code */
  /* The navigation bar for PC disappears when screen is smaller than 768px */
  .disappear {
    display: none;
  }
  #self-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 50%;
    border: black solid 4px;
  }
  main p {
    font-size: 1.2em;
    color: #5e5e5e;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }
  main h1 {
    font-size: 1.4em;
    color: #1a1a1a;
    width: 100%;
  }
  /* Logos for programming languages need to smaller for mobile */
  .logo img {
    width: 95px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 10px;
  }
  /* Code for how my projects are shown in mobile */
    /* Project block, it controls how projects are shown */
  /* portfolio block, the div around the "portfolio" + <figcaption> */
  .portfolio-block-mobile {
    word-wrap: break-word;
    display: flex;
    }
    /* The seperate products */
    .project-block-mobile {
    width: 100%;
    text-align: center;
    background-color: #333333;
    word-wrap: break-word;
    border-right: 0.5px solid white;
    }
    .project-block-mobile figcaption {
      color: white;
    }
    /* Uncenters logos from PC version */
    .logos-container {
      display: inline;
    }
    
    /* Note:When using percentages, elements take size based size of div.
    Example .img-project's width is 25% the width of .project-block */
    .img-project-mobile {
      width: 100%;
      height: 50%;
  }
  /* Makes the PC's version disappear */
  .portfolio-block {
    display: none;
  }
  .icons-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }
  
}
