/* Removes all margins for elements */
html,
body {
  margin: 0;
  height: 100vh;
  box-sizing: border-box;
  font-family: Tahoma, Verdana, sans-serif;
}
* {
  margin: 0px;
  padding: 0px;
}
/* Gives li bullet points */
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

}
p {
  font-size: 20px;
}
header {
  background-color: #CBE86B;
  box-shadow: 0 8px 6px -6px black;
  position: relative;
  z-index: 5;
  width: 100%;
}
main {
  min-height: 80%;
}
/* Navigation is in the header */

#menu-outer {
 margin: none;
}
.nav-list {
  margin-right: 10px;
  font-size: 30px;
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

ul#horizontal-list {
  list-style: none;
  text-align: center;
  margin-top: 10px;
   
	}
	ul#horizontal-list li {
    display: inline;

	}
/* The div around the "About Daeshaun" + <p> */
#about-self-block {
  background-color:  #CBE86B;
  width: 100%;


}
/* This div appears when screen width is greater then 600px */
#dispear-section {
  width: 100%;
  display: flex;
  justify-content:center;
  box-shadow: 0 8px 6px -6px black;
  position: relative;
  z-index: 5;
}
/* This div appears when screen width is less then 600px */
#dispear-section-mobile {
  display:none;
}

.about-self-info {
  text-align: left;
  padding: 10px;
  word-wrap: break-word;
  font-size: 20px;
}
.self-photo {
  width: 100%;

}

/* resume block, the div around the "Resume" + <p> */
#resume-block {
  background-color:  #EDC951;
  position: relative;
  z-index: 4;
  padding: 10px;
  border-bottom: 5px #EB6841 dashed;
}
/* portfolio block, the div around the "Portfolio" + <p> */
#portfolio-block {
  height: 30%;
  width: 100%;
  word-wrap: break-word;
  display: flex;
  border-bottom: 5px brown dashed;
  background-color:  #EB6841;
  padding-bottom: 10px;
}
  .project-block:hover {
  background-color: green;
  box-shadow: 0 8px 6px -6px black;
  position: relative;
  z-index: 2;

  }
  .project-block:active {
    background-color: green;
    box-shadow: 0 8px 6px -6px black;
    position: relative;
    z-index: 2;
  
    }

.project-block {
  background-color:  #EB6841;
  width: 25%;
  word-wrap: break-word;
  border: 1px solid black;
  box-sizing: border-box;

}


/* Note:When using percentages, elements take size based size of div.
Example .img-project's width is 25% the width of .project-block */
.img-project {
  width: 100%;
  height: 50%;
}

/* testimonal block */
#testimonal-block {
  width: 100%;
  background-color: brown;

  position: relative;
  z-index: 1;
}
footer {
  height: 10%;
  background-color: orange;
  width: 100%;
}
/* genernal classes */
.noLine {
  text-decoration: none;
  color: inherit;
}


/* Media Queries */

@media only screen and (max-width: 768px) {
  .nav-list {
    margin-right: 10px;
    font-size: 20px;
  }
  
  .about-self-info {
    text-align: left;
    padding-left: 10px;
    word-wrap: break-word;
    font-size: 17px;
  }
  .self-photo {
    width: 100%;
  }
  #dispear-section {
    display: none;

  }
  #dispear-section-mobile{
    display:block;
    box-shadow: 0 8px 6px -6px black;
    position: relative;
    z-index: 5;
  }
}

