/* Removes all margins for elements */
html,
body {
  margin: 0;
  height: 100vh;
  box-sizing: border-box;
}
* {
  margin: 0px;
  padding: 0px;
}
p {
  font-size: 20px;
}
header {
  height: 10%;
  background-color: lightcoral;
}
main {
  min-height: 80%;
}
/* Navigation is in the header */

#menu-outer {
 margin: none;
}
.nav-list {
  margin-right: 10px;
  font-size: 36px;
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

ul#horizontal-list {
  list-style: none;
  text-align: center;
  margin-top: 10px;
	}
	ul#horizontal-list li {
    display: inline;

	}
/* The div around the "About Daeshaun" + <p> */
#about-self-block {
  background-color: chocolate;
  width: 100vw;
}
#dispear-photo {
  display: flex;
  justify-content:center;
}
#dispear-photo-mobile{
  display:none;
}

.about-self-info {
  text-align: left;
  padding: 10px;
  word-wrap: break-word;
}
.self-photo {
  width: 50%;

}

/* resume block, the div around the "Resume" + <p> */
#resume-block {
  background-color: orange;
  width: 100%;
}
/* portfolio block */
#portfolio-block {
  background-color: green;
  height: 30%;
  width: 100%;
  word-wrap: break-word;
  display: flex;
}
  .project-block:hover {
  background-color: green;
  box-shadow: 10px 5px;

  }
/* The div around the "Portfolio" + <p> */
.project-block {
  background-color: crimson;
  width: 25%;
  word-wrap: break-word;
  border: 1px solid black;
  box-sizing: border-box;
}


/* Note:When using percentages, elements take size based size of div.
Example .img-project's width is 25% the width of .project-block */
.img-project {
  width: 100%;
}

/* testimonal block */
#testimonal-block {
  width: 100%;
  background-color: brown;
}
footer {
  height: 10%;
  background-color: orange;
  width: 100%;
}


/* Media Queries */

@media only screen and (max-width: 600px) {
  .nav-list {
    margin-right: 10px;
    font-size: 20px;
  }
  
  #about-self-info {
    text-align: left;
    padding-left: 10px;
    word-wrap: break-word;
    font-size: 20px;
  }
  .self-photo {
    width: 100%;
  }
  #dispear-photo {
    display: none;

  }
  #dispear-photo-mobile{
    display:block;
  }
}

